There are methods to extract the data from the mosqlimate API. The cells of code below illustrate how the data can be extract for the  `Infodengue` and `Copernicus` database.

In [6]:
import pandas as pd
from mosqlient.datastore import Infodengue, Copernicus

The `Infodengue` class accept as parameters: 

* `per_page`:`int`; How many items will be displayed per page (up to 100)
* `disease`: `str`;	Dengue, Zika or Chikungunya
* `start`: `str`;  (YYYY-mm-dd)	Start date (epidemiological week)
* `end`: `str` (YYYY-mm-dd)	End date (epidemiological week)
* `uf`: `str`, (UF)	Two letters brazilian's state abbreviation. E.g: SP
* `geocode`: `int`,	IBGE's municipality code. E.g: 3304557


For more information look at the mosqlimate [infodengue datastore documentation](https://api.mosqlimate.org/docs/datastore/GET/infodengue/)

In [7]:

data = Infodengue.get(per_page =  100,
    disease =  "dengue",
    start = "2022-01-01",
    end = "2023-01-01", 
    uf = 'PR', 
    geocode = 4108304)

data.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2023-01-01,202301,201.0,201,201,201,4108304,0.061934,77.832160,0,...,1,71.853471,46.801500,24.708333,30.285714,None,None,None,None,None
1,2022-12-25,202252,198.0,198,198,198,4108304,0.000130,76.670490,0,...,1,77.304920,57.647072,23.315657,27.666667,None,None,None,None,None
2,2022-12-18,202251,205.0,205,205,205,4108304,0.000004,79.381060,0,...,1,83.517000,65.056448,22.354167,27.000000,None,None,None,None,None
3,2022-12-11,202250,320.0,320,320,320,4108304,0.392965,123.911896,0,...,1,75.229822,44.587868,25.094697,31.000000,None,None,None,None,None
4,2022-12-04,202249,289.0,289,289,289,4108304,0.018038,111.907936,0,...,1,76.458244,54.574316,27.239177,32.857143,None,None,None,None,None

To get the data for all the cities in a state don't fill the `geocode` field, as in the example below:

In [8]:
data = Infodengue.get(per_page =  100,
    disease =  "dengue",
    start = "2022-01-01",
    end = "2023-01-01", 
    uf = 'AL')

data.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2022-12-25,202252,0.0,0,0,0,2707602,0.000000,0.000000,0,...,0,89.015800,77.649909,24.072223,27.0,None,None,None,None,None
1,2022-12-25,202252,0.0,0,0,0,2709152,0.000000,0.000000,0,...,0,89.015800,77.649909,24.072223,27.0,None,None,None,None,None
2,2022-12-25,202252,0.0,0,0,0,2702504,0.000000,0.000000,0,...,0,89.015800,77.649909,24.072223,27.0,None,None,None,None,None
3,2022-12-25,202252,1.0,1,1,1,2700102,0.963268,4.943154,0,...,0,89.015800,77.649909,24.072223,27.0,None,None,None,None,None
4,2022-12-18,202251,0.0,0,0,0,2703809,0.000000,0.000000,0,...,0,83.528465,58.568280,24.350962,30.0,None,None,None,None,None

The `Copernicus` class accept as parameters: 

* `per_page`:`int`; How many items will be displayed per page (up to 100)
* `start`: `str`;  (YYYY-mm-dd)	Start date (epidemiological week)
* `end`: `str` (YYYY-mm-dd)	End date (epidemiological week)
* `uf`: `str`, (UF)	Two letters brazilian's state abbreviation. E.g: SP
* `geocode`: `int`,	IBGE's municipality code. E.g: 3304557


For more information look at the mosqlimate [copernicus datastore documentation](https://api.mosqlimate.org/docs/datastore/GET/climate/)

In [9]:
data = Copernicus.get(per_page =  100,
    start = "2022-01-01",
    end = "2023-01-01", 
    uf = 'PR', 
    geocode = 4108304)

data.head()

,date,geocodigo,temp_min,temp_med,temp_max,precip_min,precip_med,precip_max,precip_tot,pressao_min,pressao_med,pressao_max,umid_min,umid_med,umid_max
0,2022-04-11,4108304,20.8836,22.6177,24.9097,0.0000,0.7041,3.3308,5.6328,0.9933,0.9951,0.9976,79.9633,87.4713,91.1238
1,2022-04-12,4108304,19.5677,20.8175,22.1735,0.0403,2.7425,10.9482,21.9400,0.9929,0.9944,0.9959,91.9413,94.7951,99.2952
2,2022-04-13,4108304,20.7190,22.4367,25.5531,0.0188,0.3503,0.8099,2.8027,0.9961,0.9977,0.9998,76.9035,90.5684,99.7955
3,2022-04-14,4108304,17.3250,20.6677,23.4171,0.0000,0.0024,0.0122,0.0193,0.9998,1.0025,1.0048,55.9413,79.0500,96.9083
4,2022-04-15,4108304,11.5437,16.9544,23.0791,0.0000,0.0000,0.0000,0.0000,1.0027,1.0044,1.0065,39.3401,67.9506,84.9212