"Fetching data from the Mosqlimate API. Below, you can find example code to pull data from both the `Infodengue` and `Climate` datasets."

In [1]:
import mosqlient

In [2]:
data = mosqlient.get_infodengue(
    disease =  "dengue",
    start_date = "2022-01-01",
    end_date = "2023-01-01", 
    uf = 'PR', 
    geocode = 4108304
)

data.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2023-01-01,202301,201.0,201,201,201,4108304,0.061934,77.832160,0,...,1,71.853471,46.801500,24.708333,30.285714,None,None,None,None,None
1,2022-12-25,202252,198.0,198,198,198,4108304,0.000130,76.670490,0,...,1,77.304920,57.647072,23.315657,27.666667,None,None,None,None,None
2,2022-12-18,202251,205.0,205,205,205,4108304,0.000004,79.381060,0,...,1,83.517000,65.056448,22.354167,27.000000,None,None,None,None,None
3,2022-12-11,202250,320.0,320,320,320,4108304,0.392965,123.911896,0,...,1,75.229822,44.587868,25.094697,31.000000,None,None,None,None,None
4,2022-12-04,202249,289.0,289,289,289,4108304,0.018038,111.907936,0,...,1,76.458244,54.574316,27.239177,32.857143,None,None,None,None,None

To get the data for all the cities in a state, don't fill the `geocode` field, as in the example below:

In [3]:
data = mosqlient.get_infodengue(
    disease =  "dengue",
    start_date = "2022-01-01",
    end_date = "2023-01-01", 
    uf = 'AL'
)

data.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2023-01-01,202301,0.0,0,0,0,2700201,0.00000,0.000000,0,...,0,83.854557,60.179396,25.375,29.857143,None,None,None,None,None
1,2023-01-01,202301,0.0,0,0,0,2701506,0.50000,0.000000,0,...,0,83.854557,60.179396,25.375,29.857143,None,None,None,None,None
2,2023-01-01,202301,0.0,0,0,0,2700409,0.00000,0.000000,0,...,0,83.854557,60.179396,25.375,29.857143,None,None,None,None,None
3,2023-01-01,202301,9.0,9,9,9,2701407,0.85819,15.642109,0,...,1,83.854557,60.179396,25.375,29.857143,None,None,None,None,None
4,2023-01-01,202301,0.0,0,0,0,2703106,0.00000,0.000000,0,...,0,83.854557,60.179396,25.375,29.857143,None,None,None,None,None

In [4]:
mosqlient.get_climate?

Signature:
mosqlient.get_climate(
    start_date: datetime.date | str,
    end_date: datetime.date | str,
    uf: Optional[Literal['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'DF']] = None,
    geocode: Optional[int] = None,
) -> pandas.core.frame.DataFrame
Docstring: <no docstring>
File:      ~/Projetos/Mosqlimate/mosqlimate-client/mosqlient/datastore/_climate_get_impl.py
Type:      function

In [5]:
data = mosqlient.get_climate(
    start_date = "2022-01-01",
    end_date = "2023-01-01", 
    uf = 'PR', 
    geocode = 4108304
)

data.head()

,date,geocodigo,temp_min,temp_med,temp_max,precip_min,precip_med,precip_max,precip_tot,pressao_min,pressao_med,pressao_max,umid_min,umid_med,umid_max
0,2022-01-01,4108304,22.8711,29.5362,36.7682,0.0,0.0000,0.0000,0.0000,0.9889,0.9917,0.9947,27.0830,55.2855,83.6471
1,2022-01-02,4108304,24.7786,30.7573,36.9403,0.0,0.0014,0.0111,0.0111,0.9902,0.9924,0.9950,33.5205,50.8008,71.5885
2,2022-01-03,4108304,24.2343,26.4788,29.7686,0.0,0.0251,0.0608,0.2007,0.9928,0.9947,0.9971,58.1589,68.9117,81.3941
3,2022-01-04,4108304,22.8258,26.2923,31.2061,0.0,0.4058,1.6451,3.2462,0.9887,0.9915,0.9932,60.9590,77.1783,90.6154
4,2022-01-05,4108304,22.5479,27.7520,34.1018,0.0,0.0541,0.2687,0.4329,0.9898,0.9914,0.9935,39.6912,71.6645,95.2108