"Fetching data from the Mosqlimate API. Below, you can find example code to pull data from both the `Infodengue` and `Climate` datasets."

In [1]:
import pandas as pd
from mosqlient.datastore import Infodengue, Climate

The `Infodengue` class accept as parameters: 

* `per_page`:`int`; How many items will be displayed per page (up to 100)
* `disease`: `str`;	Dengue, Zika or Chikungunya
* `start`: `str`;  (YYYY-mm-dd)	Start date (epidemiological week)
* `end`: `str` (YYYY-mm-dd)	End date (epidemiological week)
* `uf`: `str`, (UF)	Two letters brazilian's state abbreviation. E.g: SP
* `geocode`: `int`,	IBGE's municipality code. E.g: 3304557


For more information, look at the mosqlimate [infodengue datastore documentation](https://api.mosqlimate.org/docs/datastore/GET/infodengue/)

In [2]:

data = Infodengue.get(per_page =  100,
    disease =  "dengue",
    start = "2022-01-01",
    end = "2023-01-01", 
    uf = 'PR', 
    geocode = 4108304)

data.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2023-01-01,202301,201.0,201,201,201,4108304,0.061934,77.832160,0,...,1,71.853471,46.801500,24.708333,30.285714,None,None,None,None,None
1,2022-12-25,202252,198.0,198,198,198,4108304,0.000130,76.670490,0,...,1,77.304920,57.647072,23.315657,27.666667,None,None,None,None,None
2,2022-12-18,202251,205.0,205,205,205,4108304,0.000004,79.381060,0,...,1,83.517000,65.056448,22.354167,27.000000,None,None,None,None,None
3,2022-12-11,202250,320.0,320,320,320,4108304,0.392965,123.911896,0,...,1,75.229822,44.587868,25.094697,31.000000,None,None,None,None,None
4,2022-12-04,202249,289.0,289,289,289,4108304,0.018038,111.907936,0,...,1,76.458244,54.574316,27.239177,32.857143,None,None,None,None,None

To get the data for all the cities in a state, don't fill the `geocode` field, as in the example below:

In [3]:
data = Infodengue.get(per_page =  100,
    disease =  "dengue",
    start = "2022-01-01",
    end = "2023-01-01", 
    uf = 'AL')

data.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,municipio_geocodigo,p_rt1,p_inc100k,Localidade_id,...,nivel_inc,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf
0,2023-01-01,202301,0.0,0,0,0,2702504,0.000000,0.000000,0,...,0,83.854557,60.179396,25.375000,29.857143,None,None,None,None,None
1,2023-01-01,202301,0.0,0,0,0,2700102,0.000000,0.000000,0,...,0,83.854557,60.179396,25.375000,29.857143,None,None,None,None,None
2,2022-12-25,202252,5.0,5,5,5,2701407,0.559485,8.690061,0,...,1,89.015800,77.649909,24.072223,27.000000,None,None,None,None,None
3,2022-12-25,202252,0.0,0,0,0,2701605,0.500000,0.000000,0,...,0,89.015800,77.649909,24.072223,27.000000,None,None,None,None,None
4,2022-12-25,202252,0.0,0,0,0,2706422,0.000000,0.000000,0,...,0,89.015800,77.649909,24.072223,27.000000,None,None,None,None,None

The `Climate` class accept as parameters: 

* `per_page`:`int`; How many items will be displayed per page (up to 100)
* `start`: `str`;  (YYYY-mm-dd)	Start date (epidemiological week)
* `end`: `str` (YYYY-mm-dd)	End date (epidemiological week)
* `uf`: `str`, (UF)	Two letters brazilian's state abbreviation. E.g: SP
* `geocode`: `int`,	IBGE's municipality code. E.g: 3304557


For more information, look at the mosqlimate [climate datastore documentation](https://api.mosqlimate.org/docs/datastore/GET/climate/)

In [4]:
data = Climate.get(per_page =  100,
    start = "2022-01-01",
    end = "2023-01-01", 
    uf = 'PR', 
    geocode = 4108304)

data.head()

,date,geocodigo,temp_min,temp_med,temp_max,precip_min,precip_med,precip_max,precip_tot,pressao_min,pressao_med,pressao_max,umid_min,umid_med,umid_max
0,2022-07-20,4108304,17.7428,22.0867,28.5436,0.0,0.0,0.0,0.0,1.0008,1.0041,1.0058,55.2308,79.3088,92.5572
1,2022-07-21,4108304,18.3465,22.3072,27.9405,0.0,0.0,0.0,0.0,0.9992,1.0013,1.0032,53.4457,74.5630,88.8305
2,2022-07-22,4108304,18.1561,22.3281,28.4296,0.0,0.0,0.0,0.0,0.9992,1.0009,1.0028,45.2827,68.6096,83.5848
3,2022-07-23,4108304,19.1977,22.7900,28.2903,0.0,0.0,0.0,0.0,0.9994,1.0008,1.0021,44.6052,62.7176,74.4644
4,2022-07-24,4108304,17.6559,22.5496,29.1034,0.0,0.0,0.0,0.0,1.0003,1.0021,1.0043,42.5712,63.7109,80.0963